<div class="main-content">
    <div class="container-fluid">
        <div class="header text-center">
            <h3 class="title">Generacion Documento Batch</h3>
        </div>
        <div class="row">
            <div class="col-md-12">
                
				  
						<div class="card">
						    <div class="card-header card-header-icon" data-background-color="blue">
						        <i class="fa fa-archive" aria-hidden="true"></i>
						    </div>
						    <div class="card-content">
						        <h4 class="card-title">INGRESE DATOS -
						            <small class="category">ingrese datos subiendo un archico xslx o ingrese datos pegando el contenido en la pantalla</small>
						        </h4>
						        <div class="row">
						            <div class="col-md-12" style="text-align: -webkit-center;">
			                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
			                                    <div class="fileinput-new thumbnail">
			                                        <img src="../../assets/img/placeholder.jpg" alt="...">
			                                    </div>
			                                    <div class="fileinput-preview fileinput-exists thumbnail img-circle"></div>
			                                    <div>
			                                        <span class="btn btn-round btn-info btn-file">
			                                            <span class="fileinput-new">Subir Documento</span>
			                                            <span class="fileinput-exists">Cambia</span>
			                                            <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="..." />
			                                        </span>
			                                        <br />
			                                        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
			                                    </div>
			                                </div>
			                                
						            </div>
						            <button type="submit" [routerLink]="['/pages/batch']" class="btn btn-warning pull-left">Anterior</button>
						            <button type="submit" [routerLink]="['/pages/batch3']" class="btn btn-info pull-right">Siguiente</button>
						        </div>
						        
						        
						    </div>
						</div>



				  </div>
				  
            </div>
        </div>
    </div>